/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #333;
  padding: 15px;
  text-align: center;
  color: #fff;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 15px;
}

header a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.content {
  margin: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  background-color: #333;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: max-content;
  min-width: 300px;
  text-align: center;
}

.form-container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Placeholder text */
input::placeholder,
textarea::placeholder {
  color: #999;
}

/* Tags input */
input[type="text"]#tags {
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button {
  background-color: #4c7faf;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4c7fafb1;
}

p {
  text-align: left;
}
